@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #f7f8f6;
  color: #12283f;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #3e8c71;
  text-decoration: none;
}
a:hover {
  color: #12283f;
}
