@import 'tailwindcss';

@theme {
  --color-project-blue: #122c49;
  --color-project-green: #6bb8a4;
  --color-project-gray: #f4f4f4;

  --color-green-50: #f3faf7;
  --color-green-100: #d7f0e8;
  --color-green-200: #afe0d0;
  --color-green-300: #7fc9b4;
  --color-green-400: #6bb8a4;
  --color-green-500: #3a927c;
  --color-green-600: #2d7464;
  --color-green-700: #275e53;
  --color-green-800: #234c44;
  --color-green-900: #21403a;
  --color-green-950: #0e2521;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-btn-background: hsl(var(--btn-background));
  --color-btn-background-hover: hsl(var(--btn-background-hover));

  --color-dimmed: hsl(var(--dimmed));
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  table {
    @apply border border-gray-100 my-8;
  }

  tbody {
    @apply bg-white;
  }

  th {
    @apply p-2 border-b border-gray-100 bg-gray-50 font-bold;
  }

  td {
    @apply p-2 border-b border-r border-gray-100 bg-white text-center;
  }
}

:root {
  --background: 200 20% 98%;  /* #f9fafb */
  --btn-background: 200 10% 91%;  /* #e6e9ea */
  --btn-background-hover: 200 10% 89%;  /* #e0e4e6 */
  --foreground: 200 50% 3%;  /* #04090b */
  --dimmed: 200 5% 75% /* #8f9ca3 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 200 20% 98%;  /* #f9fafb */
    --btn-background: 200 10% 91%;  /* #e6e9ea */
    --btn-background-hover: 200 10% 89%;  /* #e0e4e6 */
    --foreground: 200 50% 3%;  /* #04090b */
    --dimmed: 200 5% 75% /* #8f9ca3 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
